*:focus {
  outline: 1px dashed var(--blue);
}
[role="button"]:active,
[role="button"]:focus,
a:focus,
a:active,
button:focus,
button:active {
  outline: 1px dashed var(--blue) !important            ;
}
button:focus:not(:focus-visible) {
  outline: 0;
}

html {
  font-size: 20px;
}

body {
  line-height: 1.5;
  letter-spacing: -0.04em;
  word-break: keep-all;
  font-family: "Noto Sans KR";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
}

button {
  background: transparent;
}
.sound-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
/* blind */
.blind,
.ico > span {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  z-index: -1;
}
.ico {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.ico.plus {
  width: 6.667vw;
  height: 6.4vw;
  background-image: url("../images/ico_plus.svg");
}

/* a */
a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

/* image */
img {
  user-select: none;
}
picture {
  display: block;
}
.img,
picture img {
  display: block;
}
picture img,
.img-wrap img,
.img-wrap canvas {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
picture,
.img-wrap {
  position: relative;
  font-size: 0;
}
/* .img-wrap canvas {-o-object-fit: contain; object-fit: contain;} */

/* font weight */
strong,
.fw-700 {
  font-weight: 700;
}

/* ico */
.ico {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* ellipsis */
.ellipsis {
  line-height: 1.25rem;
  height: 1.25rem;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* color */
.bg-blue {
  background-color: var(--skyblue) !important;
}

/* only-con */
@media all and (min-width: 769px) {
  .only-mo {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .only-pc {
    display: none;
  }
}

/* tablet size */
@media (max-width: 990px) {
  .pc-only {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .only-web-inline {
    display: none;
  }
}

/* horizon scroll */
.h-scroll {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap !important;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
.h-scroll > section,
.h-scroll > div {
  -ms-flex-negative: 0;
  flex-shrink: 0 !important;
}

/* flex */
.flex--s,
.flex--e,
.flex--c,
.flex-e-s,
.flex-e-e,
.flex-e-c,
.flex-e,
.flex-c-s,
.flex-c-e,
.flex-c-c,
.flex-c,
.flex-a-s,
.flex-a-e,
.flex-a-c,
.flex-a,
.flex-b-s,
.flex-b-e,
.flex-b-c,
.flex-b,
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -ms-flexbox;
}

/* justify-contents  between */
.flex-b-s,
.flex-b-e,
.flex-b-c,
.flex-b {
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
}

/* justify-contents around */
.flex-a-s,
.flex-a-e,
.flex-a-c,
.flex-a {
  justify-content: space-around;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
}

/* justify-contents center */
.flex-c-s,
.flex-c-e,
.flex-c-c,
.flex-c {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

/* justify-contents end */
.flex-e-s,
.flex-e-e,
.flex-e-c,
.flex-e {
  justify-content: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

/*  align-items start */
.flex--s,
.flex-e-s,
.flex-c-s,
.flex-a-s,
.flex-b-s {
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

/* align-items center */
.flex--c,
.flex-e-c,
.flex-c-c,
.flex-a-c,
.flex-b-c {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

/* align-items end */
.flex--e,
.flex-e-e,
.flex-c-e,
.flex-a-e,
.flex-b-e {
  align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
}

/* flex etc */
.flex-w {
  flex-wrap: wrap;
}

.dr-row {
  flex-direction: row;
}

.dr-col {
  flex-direction: column;
}

.dr-col-reverse {
  flex-direction: column-reverse;
}

.dr-row-reverse {
  flex-direction: row-reverse;
}

/* list layout */
[class*="flex"].col-2 {
  flex-wrap: wrap;
  width: -webkit-calc(100% + (var(--mg-x) * 2));
  /* for Chrome, Safari */
  width: -moz-calc(100% + (var(--mg-x) * 2));
  /* for Firefox */
  width: calc(100% + var(--mg-x) * 2);
  /* for IE */
  margin-left: -webkit-calc(-1 * var(--mg-x));
  margin-left: -moz-calc(-1 * var(--mg-x));
  margin-left: calc(-1 * var(--mg-x));
  margin-top: -webkit-calc(-1 * var(--mg-t));
  margin-top: -moz-calc(-1 * var(--mg-t));
  margin-top: calc(-1 * var(--mg-t));
}
[class*="flex"].col-2 > * {
  width: -webkit-calc(50% - (var(--mg-x) * 2));
  width: -moz-calc(50% - (var(--mg-x) * 2));
  width: calc(50% - var(--mg-x) * 2);
  margin: var(--mg-t) var(--mg-x) 0;
}

.flex1 > * {
  flex: 1;
}

[class*="flex"].col-3 {
  flex-wrap: wrap;
  width: -webkit-calc(100% + (var(--mg-x) * 2));
  width: -moz-calc(100% + (var(--mg-x) * 2));
  width: calc(100% + var(--mg-x) * 2);
  margin-left: -webkit-calc(-1 * var(--mg-x));
  margin-left: -moz-calc(-1 * var(--mg-x));
  margin-left: calc(-1 * var(--mg-x));
  margin-top: -webkit-calc(-1 * var(--mg-t));
  margin-top: -moz-calc(-1 * var(--mg-t));
  margin-top: calc(-1 * var(--mg-t));
}
[class*="flex"].col-3 > * {
  width: -webkit-calc(33.333% - (var(--mg-x) * 2));
  width: -moz-calc(33.333% - (var(--mg-x) * 2));
  width: calc(33.333% - var(--mg-x) * 2);
  margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].col-4 {
  flex-wrap: wrap;
  width: -webkit-calc(100% + (var(--mg-x) * 2));
  width: -moz-calc(100% + (var(--mg-x) * 2));
  width: calc(100% + var(--mg-x) * 2);
  margin-left: -webkit-calc(-1 * var(--mg-x));
  margin-left: -moz-calc(-1 * var(--mg-x));
  margin-left: calc(-1 * var(--mg-x));
  margin-top: -webkit-calc(-1 * var(--mg-t));
  margin-top: -moz-calc(-1 * var(--mg-t));
  margin-top: calc(-1 * var(--mg-t));
}
[class*="flex"].col-4 > * {
  width: -webkit-calc(25% - (var(--mg-x) * 2));
  width: -moz-calc(25% - (var(--mg-x) * 2));
  width: calc(25% - var(--mg-x) * 2);
  margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].col-5 {
  flex-wrap: wrap;
  width: -webkit-calc(100% + (var(--mg-x) * 2));
  width: -moz-calc(100% + (var(--mg-x) * 2));
  width: calc(100% + var(--mg-x) * 2);
  margin-left: -webkit-calc(-1 * var(--mg-x));
  margin-left: -moz-calc(-1 * var(--mg-x));
  margin-left: calc(-1 * var(--mg-x));
  margin-top: -webkit-calc(-1 * var(--mg-t));
  margin-top: -moz-calc(-1 * var(--mg-t));
  margin-top: calc(-1 * var(--mg-t));
}
[class*="flex"].col-5 > * {
  width: -webkit-calc(20% - (var(--mg-x) * 2));
  width: -moz-calc(20% - (var(--mg-x) * 2));
  width: calc(20% - var(--mg-x) * 2);
  margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].col-6 {
  flex-wrap: wrap;
  width: -webkit-calc(100% + (var(--mg-x) * 2));
  width: -moz-calc(100% + (var(--mg-x) * 2));
  width: calc(100% + var(--mg-x) * 2);
  margin-left: -webkit-calc(-1 * var(--mg-x));
  margin-left: -moz-calc(-1 * var(--mg-x));
  margin-left: calc(-1 * var(--mg-x));
  margin-top: -webkit-calc(-1 * var(--mg-t));
  margin-top: -moz-calc(-1 * var(--mg-t));
  margin-top: calc(-1 * var(--mg-t));
}
[class*="flex"].col-6 > * {
  width: -webkit-calc(16.66% - (var(--mg-x) * 2));
  width: -moz-calc(16.66% - (var(--mg-x) * 2));
  width: calc(16.66% - var(--mg-x) * 2);
  margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].equal-sizes > * {
  width: 50%;
}

[class*="flex"].w-auto-list {
  flex-wrap: wrap;
  width: -webkit-calc(100% + (var(--mg-x) * 2));
  /* for Chrome, Safari */
  width: -moz-calc(100% + (var(--mg-x) * 2));
  /* for Firefox */
  width: calc(100% + var(--mg-x) * 2);
  /* for IE */
  margin-left: -webkit-calc(-1 * var(--mg-x));
  margin-left: -moz-calc(-1 * var(--mg-x));
  margin-left: calc(-1 * var(--mg-x));
  margin-top: -webkit-calc(-1 * var(--mg-t));
  margin-top: -moz-calc(-1 * var(--mg-t));
  margin-top: calc(-1 * var(--mg-t));
}
[class*="flex"].w-auto-list > * {
  margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].side-by-side {
  flex-wrap: nowrap;
}
[class*="flex"].side-by-side > * {
  margin-top: 0;
}
[class*="flex"].side-by-side > * + * {
  margin-left: var(--mg-s);
}

[class*="flex"].half > * {
  width: calc(50% - (var(--mg-s) / 2));
}
[class*="flex"].half > * + * {
  margin-left: var(--mg-s);
}

@media screen and (max-width: 768px) {
  [class*="flex"].mo-col-1 {
    width: 100%;
    margin-left: 0;
    margin-top: -webkit-calc(-1 * var(--mo-mg-t));
    margin-top: -moz-calc(-1 * var(--mo-mg-t));
    margin-top: calc(-1 * var(--mo-mg-t));
  }
  [class*="flex"].mo-col-1 > * {
    width: 100% !important;
    margin: var(--mo-mg-t) 0 0;
  }

  [class*="flex"].mo-col-2 {
    flex-wrap: wrap;
    width: -webkit-calc(100% + (var(--mo-mg-x) * 2));
    /* for Chrome, Safari */
    width: -moz-calc(100% + (var(--mo-mg-x) * 2));
    /* for Firefox */
    width: calc(100% + var(--mo-mg-x) * 2);
    /* for IE */
    margin-left: -webkit-calc(-1 * var(--mo-mg-x));
    margin-left: -moz-calc(-1 * var(--mo-mg-x));
    margin-left: calc(-1 * var(--mo-mg-x));
    margin-top: -webkit-calc(-1 * var(--mo-mg-t));
    margin-top: -moz-calc(-1 * var(--mo-mg-t));
    margin-top: calc(-1 * var(--mo-mg-t));
  }
  [class*="flex"].mo-col-2 > * {
    width: -webkit-calc(50% - (var(--mo-mg-x) * 2));
    width: -moz-calc(50% - (var(--mo-mg-x) * 2));
    width: calc(50% - var(--mo-mg-x) * 2);
    margin: var(--mo-mg-t) var(--mo-mg-x) 0;
  }

  .mo-block-100 {
    display: block !important;
  }
  .mo-block-100 > * {
    flex: unset;
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0;
  }

  [class*="col"].mo-block-100 {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0;
  }

  [class*="col"].mo-block-100 > * {
    flex: unset;
    width: 100% !important;
    margin: var(--mo-mg-t) 0 0;
  }
}

/* text align */
.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

.tac {
  text-align: center !important;
}

/* font color */
.fc-white {
  color: var(--bs-white);
}

.fc-dark {
  color: var(--bs-dark);
}
.fc-dark2 {
  color: var(--bs-dark2);
}

.fc-gray {
  color: var(--bs-gray);
}

.fc-gray2 {
  color: #999999 !important;
}

.fc-primary {
  color: var(--bs-white) !important;
}
.fc-point {
  color: var(--bs-point) !important;
}

.fc-red {
  color: var(--bs-red);
}

.fc-blue {
  color: var(--bs-blue);
}

.fc-yellow {
  color: var(--bs-yellow) !important;
}
.fc-green {
  color: var(--bs-green) !important;
}

/* background Color */

.bg-white {
  background-color: var(--bs-white);
  border-color: var(--bs-white);
}

.bg-dark {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

.bg-dark2 {
  background-color: var(--bs-dark2);
  border-color: var(--bs-dark2);
}

.bg-gray {
  background-color: #f8f8f8 !important;
}

.bg-gray2 {
  background-color: #eee !important;
}

.bg-point {
  color: #fff;
  background-color: var(--bs-point) !important;
  border-color: var(--bs-point) !important;
}

.bg-point-lighten {
  background-color: var(--bs-point-lighten) !important;
}

.bg-point2 {
  color: #fff;
  background-color: var(--bs-point2) !important;
  border-color: var(--bs-point2) !important;
}

.bg-point2-lighten {
  background-color: var(--bs-bg-blue) !important;
  border-color: var(--bs-bg-blue) !important;
}

.bg-red {
  color: #fff;
  background-color: var(--bs-red);
  border-color: var(--bs-red);
}

.bg-blue {
  background-color: var(--bs-blue);
  border-color: var(--bs-blue);
}

.bg-yellow {
  background-color: var(--bs-yellow) !important;
  border-color: var(--bs-yellow) !important;
}

/* ellipsis */
.ellipsis-1 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /*  */
}
.ellipsis-2 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4545;
  max-height: 2.91em;
}

/* display */
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}

/* border */
.border-none {
  border: none;
}
.border-top {
  border-top: 1px solid #dbdbdb;
}
.border-bottom {
  border-bottom: 1px solid #dbdbdb;
}
/* width */
.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}
.mx-w-custom {
  max-width: var(--mx-w) !important;
}

/* responsive display */
.only-web {
  display: block !important;
}

.only-mo {
  display: none !important;
}

.only-mo-inline {
  display: none !important;
}

.only-web-flex {
  display: flex !important;
}

/* footer /  */
small.web {
  display: inline-block !important;
}

small.mo {
  display: none !important;
}

small {
  width: 1px;
  height: 0.8em;
  display: inline-block;
  margin: -0.2em 0.5em 0 0.75em;
  vertical-align: middle;
}

.hidden {
  overflow: hidden;
}

/* textarea custom */
.textarea_wrap {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px 34px;
}

.placeholder p {
  line-height: 1.5;
  color: #999;
}

/* Input radio, checkbox Style */
input[type="radio"],
input[type="checkbox"] {
  /* display: none; */
  opacity: 0.011;
  z-index: 100;
}

/* Input Style */
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  width: 100%;
  display: block;
  border: 1px solid #bbbbbb;
  /* border-radius: 6px; */
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  padding: 0 0.9375em;
}

textarea::placeholder {
  color: #bbbbbb;
}
/* Btn  */
.btn-default {
  background-color: var(--bs-white);
  border-color: #aaaaaa !important;
  color: #252525;
}

.btn-primary {
  background-color: var(--bs-point) !important;
  border-color: var(--bs-point) !important;
  color: #fff;
}

.btn-secondary {
  background-color: var(--bs-point2) !important;
  border-color: var(--bs-point2) !important;
  color: #fff;
}

.btn-third {
  background-color: var(--bs-point3) !important;
  border-color: var(--bs-point3) !important;
  color: var(--bs-white);
}

.btn-lemon {
  background-color: var(--lemon);
  border-color: var(--lemon);
  color: #fff;
}

.btn-purple {
  background-color: var(--purple);
  border-color: var(--purple);
  color: #fff;
}

.btn-tangerine {
  background-color: var(--tangerine);
  border-color: var(--tangerine);
  color: #fff;
}

.btn-orange {
  background-color: var(--orange);
  border-color: var(--orange);
  color: #fff;
}

.btn-brown {
  background-color: var(--brown);
  border-color: var(--brown);
  color: #fff;
}

.btn-skyBlue {
  background-color: var(--skyBlue);
  border-color: var(--skyBlue);
  color: #fff;
}

.btn-sub {
  background-color: #eee !important;
  border-color: #eee !important;
  color: #656565 !important;
}

/* Btn Outline Color */
.btn-outline-primary {
  color: var(--bs-point);
  border-color: var(--bs-point);
}

.btn-outline-secondary {
  color: var(--bs-point2);
  border-color: var(--bs-point2);
}

.btn-outline-lemon {
  color: var(--lemon);
  border-color: var(--lemon);
}

.btn-outline-purple {
  color: var(--purple);
  border-color: var(--purple);
}

.btn-outline-tangerine {
  color: var(--tangerine);
  border-color: var(--tangerine);
}

.btn-outline-orange {
  color: var(--orange);
  border-color: var(--orange);
}

.btn-outline-brown {
  color: var(--brown);
  border-color: var(--brown);
}

.btn-outline-skyBlue {
  color: var(--skyBlue);
  border-color: var(--skyBlue);
}

.btn-outline-light {
  color: #dbdbdb;
  border-color: #dbdbdb;
}
.btn-outline-dark {
  color: #252525;
  border-color: #252525;
}

/* Border Color  */
.outline-point {
  border-color: var(--bs-point) !important;
}

.outline-primary {
  border-color: var(--bs-point) !important;
}

.outline-secondary {
  border-color: var(--bs-point2) !important;
}

.outline-lemon {
  border-color: var(--lemon) !important;
}

.outline-purple {
  border-color: var(--purple) !important;
}

.outline-tangerine {
  border-color: var(--tangerine) !important;
}

.outline-orange {
  border-color: var(--orange) !important;
}

.outline-darkBlue {
  border-color: var(--darkBlue) !important;
}

.outline-brown {
  border-color: var(--brown) !important;
}

.outline-deepNight {
  border-color: var(--purple) !important;
}

.outline-skyBlue {
  border-color: var(--skyBlue) !important;
}

.outline-light {
  border-color: #dbdbdb !important;
}

.outline-gray {
  border-color: var(--bs-gray) !important;
}

.outline-gray2 {
  border-color: var(--bs-gray2);
}

.outline-dark {
  border-color: var(--bs-dark);
}
/* ui datepicker 커스텀 */
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  display: none;
  position: relative;
  margin-top: 10px;
  background: #fff;
  border: solid 1px #dddddd;
  border-radius: 5px;
  z-index: 99999 !important;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table {
  background: #fff;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  thead
  tr
  th {
  width: 32px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  padding-right: 5px;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  thead
  tr
  th
  span {
  font-size: 10.1px;
  font-weight: 300;
  color: #999999;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td {
  text-align: center;
  color: #666666;
  font-size: 12px;
  width: 35px;
  height: 35px;
  padding-right: 0px;
  background: #ffffff;
  margin: 1px;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td
  a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 33px;
  border-radius: 50%;
  font-weight: 300;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td
  a:hover {
  background-color: var(--bs-point);
  color: #fff;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td
  a.ui-state-default.ui-state-active {
  border: solid 1px var(--bs-point);
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td.ui-datepicker-unselectable.ui-state-disabled {
  background: #fff;
  color: #cecece;
}

.ui-datepicker-title {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ui-datepicker-title span {
  text-align: center;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.ui-datepicker-title span.ui-datepicker-year {
  font-weight: 300;
}
.ui-datepicker-title select.ui-datepicker-year,
.ui-datepicker-title select.ui-datepicker-month {
  display: inline-block;
  border: 1px solid #dbdbdb;
  width: 32px;
  height: 20px;
  box-sizing: content-box;
}
.ui-datepicker-title select.ui-datepicker-month {
  margin-left: 10px;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  position: relative;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
  a.ui-datepicker-prev {
  text-indent: -9999px;
  position: absolute;
  background: url("../img/btn/calandar_left.png") no-repeat center;
  width: 16px;
  height: 18px;
  left: 10px;
  top: -2px;
  cursor: pointer;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
  a.ui-datepicker-next {
  text-indent: -9999px;
  position: absolute;
  background: url("../img/btn/calandar_right.png") no-repeat center;
  width: 16px;
  height: 18px;
  right: 10px;
  top: -2px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  small.web {
    display: none !important;
  }
  small.mo {
    display: inline-block !important;
  }
  .only-web {
    display: none !important;
  }
  .only-mo {
    display: block !important;
  }
  .only-mo-inline {
    display: inline-block !important;
  }
  .only-web-_inline {
    display: none !important;
  }
  .only-web-flex {
    display: none !important;
  }
  /* mobile width */
  .mo-w-10 {
    width: 10% !important;
  }

  .mo-w-20 {
    width: 20% !important;
  }

  .mo-w-30 {
    width: 30% !important;
  }

  .mo-w-40 {
    width: 40% !important;
  }

  .mo-w-50 {
    width: 50% !important;
  }

  .mo-w-60 {
    width: 60% !important;
  }

  .mo-w-70 {
    width: 70% !important;
  }

  .mo-w-80 {
    width: 80% !important;
  }

  .mo-w-90 {
    width: 90% !important;
  }

  .mo-w-100 {
    width: 100% !important;
  }

  .mo-w-auto {
    width: auto !important;
  }
}
