@charset "UTF-8";
/* hanbom.com*/

/* reset */
@import url(lib/reset.css);
@import url(lib/locomotive-scroll.css);
/* beteast css */
@import url(_font.css);
@import url(_colors.css);
@import url(_vars.css);

@import url(_button.css);
@import url(_form.css);
@import url(_layout.css);
@import url(_global.css);

#container {
  overflow: hidden;
}

.scroller {
  height: 100vh;
  overflow: hidden !important;
}

/* welcome */
.welcome {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
}
.welcome .object-wrap {
  position: relative;
}
.welcome.stop canvas {
  display: none;
}
.welcome .img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.welcome .img-wrap:not(.ani) {
  -webkit-animation: hideAni 0s ease 2.8s both;
  animation: hideAni 0s ease 2.8s both;
}
.welcome .img-wrap.ani {
  -webkit-animation: showAni 0s ease 2.8s both;
  animation: showAni 0s ease 2.8s both;
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .welcome .img-wrap {
    width: 1516px;
    height: 500px;
  }
}
@media all and (min-width: 769px) {
  .welcome .p-center {
    padding-top: 6.6666666666667vh;
  }
  .welcome .img-wrap {
    width: 78.958vw;
    height: 26.042vw;
  }
}
@media all and (max-width: 768px) {
  .welcome .gutter-205 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 6.667vw;
    padding-left: 0;
    padding-right: 0;
  }
  .welcome .object-wrap {
    width: 100%;
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .welcome .img-wrap {
    width: 100%;
    height: 100%;
  }
  .welcome .img-wrap canvas {
    -o-object-fit: contain;
    object-fit: contain;
  }
}
@-webkit-keyframes showAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* HANBOM 7TH HEAD */
.anniversary {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
}
.anniversary .title-wrap {
  width: 100%;
}
.anniversary .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--skyblue);
}
.anniversary .scroll-title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.anniversary .scroll-title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 360px;
  letter-spacing: 0;
  padding-right: 0;
  line-height: 1;
}
.anniversary .title > span {
  display: block;
  white-space: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.anniversary.sticky .title-wrap {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.anniversary.scale .text {
  font-size: 24px;
}
.anniversary.sticky h1 {
  color: var(--yellow);
  z-index: 1;
}
.anniversary.hide .title-wrap {
  opacity: 0;
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .anniversary .scroll-title .title {
    font-size: 18.75vw;
  }
}
@media all and (max-width: 768px) {
  .anniversary .title-wrap {
    width: 100%;
  }
  .anniversary .scroll-title .title {
    font-size: 42.667vw;
  }
  .anniversary.sticky .title-wrap::before {
    height: 90px;
  }
}

/* GOAL */
.goal {
  padding-bottom: 300px;
}
@media all and (min-width: 1921px) {
  .goal .gutter {
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .goal .gutter {
    padding-left: 2.865vw;
    padding-right: 2.865vw;
  }
}
@media all and (max-width: 768px) {
  .goal {
    padding-bottom: 50px;
  }
}

/* TAG */
.tags {
  position: relative;
}
.tags .gutter {
  position: relative;
}
.tags .section-title {
  font-weight: 500;
  font-size: 260px;
  line-height: 1;
}
.tags .tags-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tags .tag {
  position: absolute;
}
.tags .tag:nth-child(1) {
  top: 3%;
  left: 7%;
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}
.tags .tag:nth-child(2) {
  top: 23%;
  left: 11.75%;
  -webkit-transform: rotate(-27.53deg);
  -ms-transform: rotate(-27.53deg);
  transform: rotate(-27.53deg);
}
.tags .tag:nth-child(3) {
  top: -2%;
  left: 35.8%;
  -webkit-transform: rotate(-344.37deg);
  -ms-transform: rotate(-344.37deg);
  transform: rotate(-344.37deg);
}
.tags .tag:nth-child(4) {
  top: 15%;
  left: 47.5%;
  -webkit-transform: rotate(-12.13deg);
  -ms-transform: rotate(-12.13deg);
  transform: rotate(-12.13deg);
}
.tags .tag:nth-child(5) {
  top: 1.5%;
  right: 12%;
  -webkit-transform: rotate(-28.93deg);
  -ms-transform: rotate(-28.93deg);
  transform: rotate(-28.93deg);
}
.tags .tag:nth-child(6) {
  top: 38%;
  left: 26.8%;
  z-index: 1;
  -webkit-transform: rotate(-340.17deg);
  -ms-transform: rotate(-340.17deg);
  transform: rotate(-340.17deg);
}
.tags .tag:nth-child(7) {
  top: 36.5%;
  right: 16%;
  -webkit-transform: rotate(-351.2deg);
  -ms-transform: rotate(-351.2deg);
  transform: rotate(-351.2deg);
}
.tags .tag:nth-child(8) {
  bottom: -4%;
  left: 6.5%;
  -webkit-transform: rotate(-326.86deg);
  -ms-transform: rotate(-326.86deg);
  transform: rotate(-326.86deg);
}
.tags .tag:nth-child(9) {
  bottom: 11%;
  left: 18%;
  -webkit-transform: rotate(-14.03deg);
  -ms-transform: rotate(-14.03deg);
  transform: rotate(-14.03deg);
}
.tags .tag:nth-child(10) {
  bottom: 15%;
  left: 38%;
  -webkit-transform: rotate(-351.2deg);
  -ms-transform: rotate(-351.2deg);
  transform: rotate(-351.2deg);
}
.tags .tag:nth-child(11) {
  bottom: -18%;
  left: 44%;
  -webkit-transform: rotate(-346.23deg);
  -ms-transform: rotate(-346.23deg);
  transform: rotate(-346.23deg);
}
.tags .tag:nth-child(12) {
  bottom: 0%;
  right: 28.8%;
  -webkit-transform: rotate(-13.11deg);
  -ms-transform: rotate(-13.11deg);
  transform: rotate(-13.11deg);
}
.tags .tag:nth-child(13) {
  bottom: 9%;
  right: 8%;
  -webkit-transform: rotate(-336.95deg);
  -ms-transform: rotate(-336.95deg);
  transform: rotate(-336.95deg);
}
.tags .bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, var(--yellow)),
    to(rgba(255, 236, 64, 0))
  );
  background: -o-linear-gradient(
    top,
    var(--yellow) 50%,
    rgba(255, 236, 64, 0) 100%
  );
  background: linear-gradient(
    180deg,
    var(--yellow) 50%,
    rgba(255, 236, 64, 0) 100%
  );
}
@media all and (min-width: 769px) {
  .tags {
    height: 100vh;
    padding-top: 18.518518518519vh;
  }
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .tags .section-title {
    font-size: 13.542vw;
  }
}
@media all and (max-width: 768px) {
  .tags {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 48.533vw;
  }
  .tags .section-title {
    font-size: 21.333vw;
    line-height: 1.25;
  }
  .tags .tag:nth-child(1) {
    top: -3%;
    left: 10%;
    -webkit-transform: rotate(-346.4deg);
    -ms-transform: rotate(-346.4deg);
    transform: rotate(-346.4deg);
  }
  .tags .tag:nth-child(2) {
    top: 5%;
    left: 24%;
    -webkit-transform: rotate(-27.69deg);
    -ms-transform: rotate(-27.69deg);
    transform: rotate(-27.69deg);
  }
  .tags .tag:nth-child(3) {
    top: 52%;
    left: 22%;
    -webkit-transform: rotate(-344.27deg);
    -ms-transform: rotate(-344.27deg);
    transform: rotate(-344.27deg);
  }
  .tags .tag:nth-child(4) {
    top: 35.5%;
    left: 3%;
    -webkit-transform: rotate(-12.21deg);
    -ms-transform: rotate(-12.21deg);
    transform: rotate(-12.21deg);
  }
  .tags .tag:nth-child(5) {
    top: 8.5%;
    right: 2.5%;
    z-index: 1;
    -webkit-transform: rotate(-29.1deg);
    -ms-transform: rotate(-29.1deg);
    transform: rotate(-29.1deg);
  }
  .tags .tag:nth-child(6) {
    top: auto;
    bottom: -1%;
    left: auto;
    right: 6%;
    -webkit-transform: rotate(-322.16deg);
    -ms-transform: rotate(-322.16deg);
    transform: rotate(-322.16deg);
  }
  .tags .tag:nth-child(7) {
    top: 22.5%;
    right: 7%;
    -webkit-transform: rotate(-351.14deg);
    -ms-transform: rotate(-351.14deg);
    transform: rotate(-351.14deg);
  }
  .tags .tag:nth-child(8) {
    bottom: -20%;
    left: 6.5%;
    -webkit-transform: rotate(-326.68deg);
    -ms-transform: rotate(-326.68deg);
    transform: rotate(-326.68deg);
  }
  .tags .tag:nth-child(9) {
    bottom: 14%;
    left: auto;
    right: 17%;
    -webkit-transform: rotate(-14.13deg);
    -ms-transform: rotate(-14.13deg);
    transform: rotate(-14.13deg);
  }
  .tags .tag:nth-child(10) {
    bottom: -5%;
    left: 17%;
    -webkit-transform: rotate(-351.14deg);
    -ms-transform: rotate(-351.14deg);
    transform: rotate(-351.14deg);
  }
  .tags .tag:nth-child(11) {
    bottom: auto;
    top: 52%;
    left: auto;
    right: 3.5%;
    -webkit-transform: rotate(-346.14deg);
    -ms-transform: rotate(-346.14deg);
    transform: rotate(-346.14deg);
  }
  .tags .tag:nth-child(12) {
    bottom: 18%;
    right: auto;
    left: 10%;
    -webkit-transform: rotate(-13.2deg);
    -ms-transform: rotate(-13.2deg);
    transform: rotate(-13.2deg);
  }
  .tags .tag:nth-child(13) {
    bottom: -17%;
    right: 11%;
    z-index: 2;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@media all and (min-width: 769px) and (max-width: 1920px) and (max-height: 1080px) {
  .tags {
    margin-bottom: 21.37vh;
  }
}

/* GOAL (list) 3D */
.goal .goal-list > div {
  width: 100%;
}
.goal .goal-list > div.on .img-wrap canvas {
  display: block;
}
.goal .goal-list > div:not(.on) .img-wrap canvas {
  display: none;
}
.goal .motion {
  position: relative;
  margin: 0 auto;
}
.goal .motion,
.goal .text-wrap {
  max-width: 1920px;
}
.goal .goal-list .img-wrap {
  position: absolute;
  top: 0;
  z-index: 2;
  margin: 0 auto;
}
.goal .goal-list .letters {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.goal .goal-list .letters > span {
  display: inline-block;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 660px;
  line-height: inherit;
  letter-spacing: -26.4px;
  pointer-events: inherit;
}
.goal .goal-list > .health .letters > span {
  color: #0cd886;
}
.goal .goal-list > .study .letters > span {
  color: var(--skyblue);
}
.goal .goal-list > .travel .letters > span {
  color: #ff89a2;
}
.goal .goal-list > .money .letters > span {
  color: #b296ff;
}
.goal .goal-list > .happy .letters > span {
  color: #ffeb35;
}
.goal .goal-list .text-wrap {
  width: 100%;
  margin-top: -185px;
}
.goal .goal-list .text-wrap .text.large {
  line-height: 1.04;
}
.goal .goal-list .text-wrap .text:not(.large) {
  line-height: 1.78;
}
.goal .goal-list .text-wrap .text + .text {
  margin-top: 10px;
}
@media all and (min-width: 1921px) {
  .goal .gutter {
    padding-left: 55px;
    padding-right: 55px;
  }
  .goal .goal-list .img-wrap {
    width: 800px;
    height: 800px;
  }
  .goal .goal-list > .health .img-wrap {
    margin-top: -115px;
    margin-left: 98px;
  }
  .goal .goal-list > .study .img-wrap {
    margin-top: -85px;
    margin-left: 240px;
  }
  .goal .goal-list > .travel .img-wrap {
    margin-top: -90px;
    margin-left: 100px;
  }
  .goal .goal-list > .money .img-wrap {
    margin-top: -90px;
    margin-left: 150px;
  }
  .goal .goal-list > .happy .img-wrap {
    margin-top: -98px;
    margin-left: 162px;
  }
  .goal .goal-list .text-wrap > dl {
    padding-left: 405px;
  }
  .goal .goal-list .text-wrap .text.large {
    font-size: 80px;
  }
  .goal .goal-list .letters {
    margin-top: -125px;
  }
  .goal .goal-list .letters > span {
    top: -50px;
  }
}
@media all and (min-width: 768px) and (max-width: 1920px) {
  .goal .goal-list .img-wrap {
    width: 41.667vw;
    height: 41.667vw;
  }
  .goal .goal-list > .health .img-wrap {
    margin-top: -5.99vw;
    margin-left: 5.104vw;
  }
  .goal .goal-list > .study .img-wrap {
    margin-top: -4.427vw;
    margin-left: 12.5vw;
  }
  .goal .goal-list > .travel .img-wrap {
    margin-top: -4.688vw;
    margin-left: 5.208vw;
  }
  .goal .goal-list > .money .img-wrap {
    margin-top: -4.688vw;
    margin-left: 7.813vw;
  }
  .goal .goal-list > .happy .img-wrap {
    margin-top: -5.104vw;
    margin-left: 8.438vw;
  }
  .goal .goal-list .letters {
    margin-top: -6.51vw;
  }
  .goal .goal-list .letters > span {
    top: -2.604vw;
    font-size: 34.375vw;
    letter-spacing: -1.375vw;
  }
  .goal .goal-list .text-wrap {
    margin-top: -9.635vw;
  }
  .goal .goal-list .text-wrap > dl {
    padding-left: 21.094vw;
  }
  .goal .goal-list .text-wrap .text.large {
    font-size: 4.167vw;
  }
}
@media all and (min-width: 768px) {
  .goal .goal-list > div {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
  }
  .goal .goal-list .img-wrap {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  .goal .goal-list .letters {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .goal .motion,
  .goal .text-wrap {
    padding-left: var(--gutter-70);
    padding-right: var(--gutter-70);
    margin-left: auto;
    margin-right: auto;
  }
  .goal .goal-list .btn.open-pop {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .goal .motion {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
  }
  .goal .goal-list > div {
    position: relative;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .goal .goal-list .img-wrap {
    top: 50%;
    right: 0;
    width: 90.667vw;
    height: 90.667vw;
    margin-top: 7.667vw;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .goal .goal-list .letters {
    line-height: 1;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
  }
  .goal .goal-list .letters > span {
    font-size: 53.333vw;
    letter-spacing: 0;
    line-height: 1;
  }
  .goal .goal-list .text-wrap {
    position: absolute;
    top: 27.2vw;
    left: 50%;
    min-width: 80vw;
    width: auto;
    background-color: var(--white);
    border-radius: 5.333vw;
    box-shadow: 2.667vw 2.667vw 8vw 0 rgba(0, 0, 0, 0.25);
    padding: 9.6vw 10.667vw 7.467vw 8.533vw;
    margin-top: 0;
    z-index: 1;
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .goal .goal-list > div.active .text-wrap {
    z-index: 2;
    opacity: 1;
  }
  .goal .goal-list .text-wrap .text.large {
    line-height: 1;
    font-size: 6.4vw;
  }
  .goal .goal-list .text-wrap .text:not(.large) {
    line-height: 1.71;
    font-size: 3.733vw;
  }
  .goal .goal-list .btn.open-pop {
    position: absolute;
    top: 36.867vw;
    left: 18vw;
    width: 14.933vw;
    height: 14.933vw;
    border-radius: 50%;
    box-shadow: 2.667vw 2.667vw 8vw 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .goal .goal-list .btn-close {
    position: absolute;
    top: 5.333vw;
    right: 5.333vw;
    width: 4.533vw;
    height: 4.533vw;
    background: url("../images/btn_close.svg") no-repeat 0 0;
    background-size: 5.333vw 4.533vw;
  }

  .goal .goal-list .health .btn.open-pop {
    background-color: #0cd886;
  }
  .goal .goal-list .study .btn.open-pop {
    background-color: var(--skyblue);
  }
  .goal .goal-list .travel .btn.open-pop {
    background-color: #ff89a2;
  }
  .goal .goal-list .money .btn.open-pop {
    background-color: #b296ff;
  }
  .goal .goal-list .happy .btn.open-pop {
    background-color: #ffeb35;
  }
}
@media all and (max-width: 375px) and (max-height: 680px) {
  /* .goal .goal-list .letters {margin-top: -2.333vh}
    .goal .goal-list .img-wrap {margin-top: -1vh;} */
  /* .goal .goal-list .text-wrap {margin-top: 28vh;} */
}

/* MAKE */
.make .achieve {
  background-color: var(--yellow);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 260px;
}
.make .gutter-135 + .motion {
  margin-top: 260px;
}
.make .scroll-title {
  position: relative;
}
.make .title {
  color: var(--skyblue);
}
.make .motion {
  position: relative;
}
.make .scroll-title {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.make .cat {
  position: absolute;
  top: 505px;
  right: 15.625vw;
}
.make .cat .img-wrap {
  width: 264px;
  height: 148px;
}
.make .cat .speak {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: -148px;
  right: -107px;
  width: 235px;
  height: 145px;
  background-image: url("../images/speak.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}
.make .cat .speak > p {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.44;
  letter-spacing: -0.5px;
  color: var(--white);
  margin-top: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.5s;
  -o-transition: opacity 0.3s ease-in-out 0.5s;
  transition: opacity 0.3s ease-in-out 0.5s;
}
.make .cat.show .speak {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.make .cat.show .speak > p {
  opacity: 1;
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .make .title {
    font-size: 20.833vw;
    letter-spacing: -0.625vw;
  }
  .make .cat {
    top: 26.302vw;
  }
}
@media all and (min-width: 769px) {
  .make .motion {
    height: 100vh;
  }
}
@media all and (max-width: 768px) {
  .make .achieve {
    padding-top: 32vw;
    border-top-left-radius: 5.333vw;
    border-top-right-radius: 5.333vw;
  }
  .make .gutter-135 + .motion {
    margin-top: 32vw;
  }
  .make .motion {
    padding-bottom: 72vw;
  }
  .make .cat {
    top: 53.333vw;
    right: 11.093vw;
  }
  .make .cat .img-wrap {
    width: 44.8vw;
    height: 25.067vw;
  }
  .make .cat .speak {
    top: -22.133vw;
    right: -8.693vw;
    width: 36.267vw;
    height: 22.133vw;
  }
  .make .cat .speak > p {
    font-size: 3.733vw;
    letter-spacing: 0.133vw;
    margin-top: -1.6vw;
  }
}

/*  card */
.card {
  height: 100vh;
  background-color: var(--skyblue);
  overflow: hidden;
}
.card .gutter-153,
.card .content-wrap {
  height: 100%;
}
.card .svg-wrap {
  width: 181px;
  height: 625px;
}
.card svg {
  width: 100%;
  height: 100%;
}
.card svg .fill {
  fill: var(--black);
}
.card .circle {
  width: 100%;
  height: 100%;
}
.card .circle::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--yellow);
  border-radius: 50%;
  aspect-ratio: 1/1;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.card .content-wrap {
  position: relative;
}
.card .side-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 130px;
}
.card .item-wrap {
  position: relative;
  height: 100%;
}
.card .img-wrap {
  width: 400px;
  height: 400px;
}
.card:not(.on) .img-wrap canvas {
  display: none;
}
@media all and (min-width: 769px) and (orientation: portrait) {
  .card {
    height: 1080px;
  }
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .card .side-text {
    padding: 0 6.771vw;
  }
  .card .svg-wrap {
    width: 9.427vw;
    height: 32.552vw;
  }
  .card .img-wrap {
    width: 20.833vw;
    height: 20.833vw;
  }
}
@media all and (max-width: 768px) {
  .card {
    height: 186.667vw;
    padding-top: 13.333vw;
    padding-bottom: 13.333vw;
  }
  .card .gutter-153 {
    padding-left: 0;
    padding-right: 0;
  }
  .card .circle::before {
    left: 50%;
    width: auto;
    height: inherit;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .card .side-text {
    padding: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .card .svg-wrap {
    position: relative;
    width: 19.2vw;
    height: 68.163vw;
  }
  .card .svg-wrap:nth-child(1) {
    left: -22.667vw;
  }
  .card .svg-wrap:nth-child(2) {
    left: 22.667vw;
  }
  .card .img-wrap {
    width: 53.333vw;
    height: 53.333vw;
  }
}

/* plan-b */
.plan-b {
  padding-top: 200px;
}
.plan-b .gutter-135 + .gutter-70 {
  margin-top: 150px;
}
.plan-b .text.underline {
  display: inline-block;
  position: relative;
  line-height: 1.35;
}
.plan-b .text.underline::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 55px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  z-index: -1;
}
.plan-b .to {
  position: relative;
}
.plan-b .to::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--black);
}
.plan-b .everyone {
  font-size: 260px;
}
.plan-b .img-wrap img {
  -o-object-position: top;
  object-position: top;
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .plan-b .everyone {
    font-size: 13.542vw;
  }
}
@media all and (min-width: 769px) {
  .plan-b .text.large {
    line-height: 1.15;
  }
  .plan-b .img-wrap {
    height: 100vh;
  }
}
@media all and (max-width: 768px) {
  .plan-b {
    padding-top: 18.667vw;
  }
  .plan-b .gutter-135 + .gutter-70 {
    margin-top: 12vw;
  }
  .plan-b .text.large {
    font-size: 10.667vw;
  }
  .plan-b .text.large + .text.large {
    margin-top: -8vw;
  }
  .plan-b .text.text.underline {
    display: block;
  }
  .plan-b .everyone {
    font-size: 28.267vw;
  }
  .plan-b .to::after {
    width: 1.067vw;
    height: 1.067vw;
    margin-left: 0.267vw;
  }
  .plan-b .text.underline::after {
    bottom: 10.667vw;
  }
  .plan-b .img-wrap {
    height: 133.333vw;
  }
}

/* pen */
.pen {
  position: relative;
}
.pen .img-wrap {
  width: 1300px;
  height: 850px;
  margin: 0 auto;
}
.pen .scroll-title .title {
  color: var(--yellow);
  line-height: 1;
}
.pen .scroll-title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  margin-top: 8vw;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media all and (min-width: 769px) {
  .pen {
    margin-top: 150px;
  }
  .pen .img-wrap {
    width: 67.708vw;
    height: 44.271vw;
  }
  .pen .img-wrap canvas {
    -o-object-fit: contain;
    object-fit: contain;
  }
}
@media all and (max-width: 768px) {
  .pen .sequence {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  .pen .img-wrap {
    width: 100%;
    height: auto;
  }
  .pen .scroll-title {
    margin-top: 8vw;
  }
}
@media all and (orientation: portrait) {
  .pen {
    min-height: 100vh;
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .pen {
    min-height: 80vh;
  }
}

/* .kit */
.kit .gutter-100.text-wrap {
  position: relative;
  padding-bottom: 10.208vw;
}
.kit .h-scroll {
  height: 100vh;
  padding-left: 160px;
  padding-right: 160px;
}
.kit .h-scroll > .img-wrap:nth-child(3) {
  margin-left: 100px;
  margin-right: 140px;
}
.kit .h-scroll > .img-wrap:nth-child(5) {
  margin-top: 105px;
}
.kit .h-scroll > .img-wrap:last-child {
  margin-left: 255px;
}
.kit .digital-kit {
  height: 100vh;
}
.kit .digital-kit .gutter-100 {
  position: relative;
  height: 100%;
}
.kit .kit-list > li {
  position: absolute;
  top: 70%;
  font-weight: 500;
  font-size: 260px;
}
.kit .kit-list > li:nth-child(1) {
  left: var(--gutter-100);
}
.kit .kit-list > li:nth-child(2) {
  left: calc(50% - 25%);
}
.kit .kit-list > li:nth-child(3) {
  right: var(--gutter-100);
}
.kit .scroll-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 240px;
}
.kit .img-wrap.ani {
  position: absolute;
  top: 0;
  left: calc(50% - (102px * 2));
  width: 319px;
  height: 319px;
  margin-top: 35px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
@media all and (min-width: 1921px) {
  .kit .gutter-100.text-wrap {
    padding-right: 50px;
  }
  .kit .kit-list {
    margin-top: -180px;
  }
  /* .kit .kit-list > li + li {margin-top: -90px;} */
  .kit .scroll-title {
    justify-content: center;
  }

  .kit .h-scroll > .img-wrap:nth-child(1) {
    width: 581px;
    height: 778px;
  }
  .kit .h-scroll > .img-wrap:nth-child(2) {
    width: 947px;
    height: 651px;
  }
  .kit .h-scroll > .img-wrap:nth-child(3) {
    width: 577px;
    height: 787px;
  }
  .kit .h-scroll > .img-wrap:nth-child(4) {
    width: 647px;
    height: 827px;
  }
  .kit .h-scroll > .img-wrap:nth-child(5) {
    width: 665px;
    height: 840px;
    margin-left: -20px;
  }
  .kit .h-scroll > .img-wrap:nth-child(6) {
    width: 948px;
    height: 651px;
  }
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .kit .gutter-100.text-wrap {
    padding-right: 2.604vw;
  }
  .kit .kit-list {
    margin-top: -9.375vw;
  }
  .kit .kit-list > li {
    font-size: 13.542vw;
  }
  /* .kit .kit-list > li + li {margin-top: -4.688vw;} */
  .kit .scroll-title {
    margin-top: 12.5vw;
  }
  .kit .img-wrap.ani {
    left: calc(50% - (5.313vw * 2));
    width: 16.615vw;
    height: 16.615vw;
    margin-top: 1.823vw;
  }
  .kit .h-scroll {
    padding-left: 8.333vw;
    padding-right: 8.333vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(3) {
    margin-left: 5.208vw;
    margin-right: 7.292vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(5) {
    margin-top: 5.469vw;
  }
  .kit .h-scroll > .img-wrap:last-child {
    margin-left: 13.281vw;
  }

  .kit .h-scroll > .img-wrap:nth-child(1) {
    width: 30.208vw;
    height: 40.521vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(2) {
    width: 49.323vw;
    height: 33.906vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(3) {
    width: 30.052vw;
    height: 40.99vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(4) {
    width: 33.698vw;
    height: 43.073vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(5) {
    width: 34.635vw;
    height: 43.75vw;
    margin-left: -1.042vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(6) {
    width: 49.375vw;
    height: 33.906vw;
  }
}
@media all and (min-width: 769px) {
  .kit {
    margin-top: 150px;
  }
}
@media all and (max-width: 768px) {
  .kit {
    padding-bottom: 26.667vw;
    margin-top: -10vh;
  }
  .kit .gutter-100.text-wrap {
    padding-bottom: 0;
  }
  .kit .h-scroll {
    padding-left: 5.333vw;
    padding-right: 5.333vw;
  }
  .kit .kit-list > li {
    top: 100%;
    font-size: 21.333vw;
    line-height: 1;
  }
  .kit .scroll-title {
    margin-top: 0;
  }
  .kit .img-wrap.ani {
    top: 50%;
    left: calc((50% / 2) + 0.333vw);
    width: 50.867vw;
    height: 50.867vw;
    margin-top: -17.867vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(1) {
    width: 90.667vw;
    height: 121.867vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(2) {
    width: 148vw;
    height: 101.333vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(3) {
    width: 90.667vw;
    height: 121.6vw;
    margin-left: 16vw;
    margin-right: 21.333vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(4) {
    width: 100.907vw;
    height: 129.04vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(5) {
    width: 103.893vw;
    height: 131.12vw;
    margin-top: 15.467vw;
  }
  .kit .h-scroll > .img-wrap:nth-child(6) {
    width: 148vw;
    height: 101.333vw;
  }
  .kit .h-scroll > .img-wrap:last-child {
    margin-left: 34.187vw;
  }
}

/* DOWNLOAD */
.download {
  position: relative;
  min-height: 100vh;
  background-color: var(--yellow);
  padding-bottom: 200px;
}
.download .bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--yellow);
  width: 100%;
  min-height: inherit;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: -1;
}
.download .download-wrap {
  min-height: 100vh;
  padding-top: 27.7777vh;
  padding-bottom: 210px;
}
.download .form-area {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100vh;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.download .form-wrap {
  background-color: var(--white);
  border-radius: 40px;
  padding: 128px 180px 140px;
}
.download .fieldset + .btn-area {
  margin-top: 80px;
}
.download .select-wrap + .field {
  margin-top: 48px;
}
.download .form-wrap .text {
  font-weight: 500;
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .download .form-wrap {
    padding-left: 9.375vw;
    padding-right: 9.375vw;
  }
}
@media all and (min-width: 769px) {
  .download .form-area .gutter-210 {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .download {
    border-top-left-radius: 5.333vw;
    border-top-right-radius: 5.333vw;
    padding-bottom: 0;
  }
  .download .download-wrap {
    padding-top: 37.333vw;
    padding-bottom: 37.333vw;
  }
  .download .form-wrap {
    border-radius: 5.333vw;
    padding: 11.2vw 8vw 13.867vw;
  }
  .download .fieldset + .btn-area {
    margin-top: 12.267vw;
  }
  .download .select-wrap + .field {
    margin-top: 3.733vw;
  }
  .download .bg {
    display: none;
  }
}

/* CONTACT */
.contact {
  position: relative;
  text-align: center;
  background-color: var(--yellow);
  padding-top: 288px;
  padding-bottom: 300px;
}
.contact::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.contact .gutter-100 {
  position: relative;
}
.contact .text-wrap + .title-wrap {
  margin-top: 340px;
}
.contact .title {
  font-weight: 700;
  font-size: 210px;
  color: var(--yellow);
  line-height: 1.24;
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .contact .title {
    font-size: 10.938vw;
  }
}
@media all and (max-width: 768px) {
  .contact {
    padding-top: 32vw;
    padding-bottom: 37.333vw;
  }
  .contact::before {
    border-bottom-left-radius: 5.333vw;
    border-bottom-right-radius: 5.333vw;
  }
  .contact .text-wrap + .title-wrap {
    margin-top: 26.667vw;
  }
  .contact .title {
    font-size: 17.6vw;
    line-height: 1.17;
  }
}

#cursorContact {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  pointer-events: none;
  will-change: transform;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
@media (hover: hover) and (pointer: fine) {
  #cursorContact .cursor-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 224px;
    height: 224px;
    border-radius: 50%;
    border: 1px solid var(--n-50);
    background-color: transparent;
    color: var(--n-50);
    margin-top: -50%;
    margin-left: -50%;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #cursorContact .cursor-title {
    font-weight: 600;
    text-align: center;
  }
  .cursor-contact {
    position: relative;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: var(--black);
    cursor: none;
    margin: -50%;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #cursorContact[class*="cursor-hover"] .cursor-contact {
    width: 225px;
    height: 225px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #cursorContact[class*="cursor-hover"] .cursor-contact::after {
    content: "";
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../images/cursor_contact.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    -webkit-animation: cursorShow 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.35s both;
    animation: cursorShow 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.35s both;
  }
}
@-webkit-keyframes cursorShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cursorShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (hover: none) and (pointer: coarse) {
  .contact .title-wrap {
    position: relative;
  }
  .contact .title-wrap .btn {
    position: relative;
  }
  .contact .title-wrap .ico {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 11.933vw;
    width: 29.333vw;
    height: 29.333vw;
    background-image: url("../images/cursor_contact_mo.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    margin-top: -6.507vw;
  }
}

/* together */
.together {
  background-color: var(--yellow);
}
.together::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  z-index: -1;
}
.together .gutter-100 {
  padding-top: 300px;
  padding-bottom: 98px;
}
.together .title {
  font-weight: 700;
  font-size: 210px;
  color: var(--skyblue);
  line-height: 1.1;
  text-align: center;
}
.together .word {
  font-style: italic;
  font-weight: 400;
  letter-spacing: -2.1px;
  padding-bottom: 20px;
}
.together .typed {
  display: block;
}
.together .typed-cursor {
  display: none;
  opacity: 0 !important;
}
.together .typed::after {
  content: "";
  display: inline-block;
  position: relative;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.together .img-wrap {
  left: 65px;
  width: 640px;
  height: 640px;
  margin-top: -258px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  -webkit-animation: floatAni 2.5s ease-in-out infinite;
  animation: floatAni 2.5s ease-in-out infinite;
}
.together:not(.on) .img-wrap canvas {
  display: none;
}
@media all and (min-width: 769px) and (max-width: 1920px) {
  .together .title {
    font-size: 10.938vw;
  }
  .together .word {
    letter-spacing: -0.109vw;
  }
  .together .img-wrap {
    left: 3.385vw;
    width: 33.333vw;
    height: 33.333vw;
    margin-top: -13.438vw;
  }
}
@media all and (min-width: 769px) {
  .together {
    min-height: 180.583vw;
  }
}
@media all and (max-width: 768px) {
  .together {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
  }
  .together .gutter-100 {
    padding-top: 38vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .together .title {
    font-size: 16vw;
    line-height: 1.17;
  }
  .together .word {
    letter-spacing: -0.64vw;
    padding-bottom: 0;
  }
  .together .img-wrap {
    left: 3.2vw;
    width: 101.333vw;
    height: 101.333vw;
    margin-top: -25.667vw;
    margin-left: auto;
    margin-right: 0;
  }
}
@-webkit-keyframes floatAni {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes floatAni {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.layer-content {
  position: relative;
  width: 100%;
}
.layer-content > section {
  position: absolute;
  width: 100%;
}
.layer-content .contact {
  z-index: 10;
}

.click-to-contact {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 110px;
  height: 110px;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.click-to-contact.hide {
  opacity: 0;
}
.click-to-contact > .btn {
  display: block;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 768px) {
  .click-to-contact {
    bottom: 5.333vw;
    right: 5.333vw;
    opacity: 0;
    width: 24vw;
    height: 24vw;
  }
  .click-to-contact.show {
    opacity: 1;
  }
}

/* LOADING */
#loading {
  position: fixed;
  z-index: 9999;
  background: var(--skyblue);
  width: 100vw;
  height: 100vh;
  height: 100vh;
}
#loading.hide {
  transform: translateY(-130%);
  transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: transform;
}
#loading > .loading-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  overflow: hidden;
}
#loading .flex {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#loading .spell > span {
  display: block;
  width: auto;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: var(--white);
}
#loading .spell:nth-child(7) > span:not(:last-child),
#loading .spell:nth-child(8) > span:not(:last-child),
#loading .spell:nth-child(9) > span:not(:last-child) {
  max-width: 22px;
}
#loading .spell:nth-child(6) > span:not(:last-child),
#loading .spell:nth-child(7) > span:not(:last-child),
#loading .spell:nth-child(8) > span:not(:last-child),
#loading .spell:nth-child(9) > span:not(:last-child) {
  position: relative;
  left: -25px;
  font-weight: 300;
  text-align-last: right;
}
@media all and (max-width: 768px) {
  #loading > .loading-inner {
    height: 11.2vw;
  }
  #loading .spell > span {
    height: 11.2vw;
    line-height: 11.2vw;
    font-size: 7.467vw;
  }
  #loading .spell:nth-child(6) > span:not(:last-child),
  #loading .spell:nth-child(7) > span:not(:last-child),
  #loading .spell:nth-child(8) > span:not(:last-child),
  #loading .spell:nth-child(9) > span:not(:last-child) {
    left: -5.333vw;
  }
  #loading .spell:nth-child(7) > span:not(:last-child),
  #loading .spell:nth-child(8) > span:not(:last-child),
  #loading .spell:nth-child(9) > span:not(:last-child) {
    max-width: 4.267vw;
  }
}
#loading .spell:nth-child(8) {
  animation: count1 forwards 0.1s linear, count1_2 forwards 0.1s linear,
    count1_3 forwards 0.5s ease-out, count1_last forwards 0.5s ease-out;
  animation-iteration-count: 8, 1, 1, 1;
  animation-delay: 0s, 1s, 2s, 3.5s;
}
#loading .spell:nth-child(7) {
  animation: count2 forwards 1s linear, count1_3 forwards 0.5s linear,
    count1_last forwards 0.5s ease-out;
  animation-delay: 0s, 1.95s, 3.45s;
}
#loading .spell:nth-child(6) {
  animation: count3 forwards 0.15s linear, count3_2 forwards 0.5s ease-out,
    count3_last forwards 0.5s ease-out;
  animation-delay: 0.9s, 1.9s, 3.4s;
}
#loading .spell:first-child,
#loading .spell:nth-child(2),
#loading .spell:nth-child(3),
#loading .spell:nth-child(4),
#loading .spell:nth-child(5),
#loading .spell:nth-child(9),
#loading .spell:nth-child(10),
#loading .spell:nth-child(11),
#loading .spell:nth-child(12),
#loading .spell:nth-child(13) {
  animation: hanbom forwards 0.5s ease-out, hanbom_last forwards 0.5s ease-out;
  animation-delay: 1.5s, 3s;
}
#loading .spell:nth-child(2) {
  animation-delay: 1.55s, 3.05s;
}
#loading .spell:nth-child(3) {
  animation-delay: 1.75s, 3.25s;
}
#loading .spell:nth-child(4) {
  animation-delay: 1.8s, 3.3s;
}
#loading .spell:nth-child(5) {
  animation-delay: 1.85s, 3.35s;
}
#loading .spell:nth-child(9) {
  animation-delay: 2.05s, 3.55s;
}
#loading .spell:nth-child(10) {
  animation-delay: 2.1s, 3.6s;
}
#loading .spell:nth-child(11) {
  animation-delay: 2.15s, 3.65s;
}
#loading .spell:nth-child(12) {
  animation-delay: 2.2s, 3.7s;
}
#loading .spell:nth-child(13) {
  animation-delay: 2.25s, 3.75s;
}

@media all and (min-width: 769px) {
  @keyframes count1 {
    100% {
      transform: translateY(-600px);
      will-change: transform;
    }
  }
  @keyframes count1_2 {
    100% {
      transform: translateY(-600px);
      will-change: transform;
    }
  }
  @keyframes count1_3 {
    0% {
      transform: translateY(-600px);
      will-change: transform;
    }
    100% {
      transform: translateY(-660px);
      will-change: transform;
    }
  }

  @keyframes count1_last {
    0% {
      transform: translateY(-660px);
      will-change: transform;
    }
    100% {
      transform: translateY(-720px);
      will-change: transform;
    }
  }
  @keyframes count2 {
    10% {
      transform: translateY(-60px);
      will-change: transform;
    }
    20% {
      transform: translateY(-120px);
      will-change: transform;
    }
    30% {
      transform: translateY(-180px);
      will-change: transform;
    }
    40% {
      transform: translateY(-240px);
      will-change: transform;
    }
    50% {
      transform: translateY(-300px);
      will-change: transform;
    }
    60% {
      transform: translateY(-360px);
      will-change: transform;
    }
    70% {
      transform: translateY(-420px);
      will-change: transform;
    }
    80% {
      transform: translateY(-480px);
      will-change: transform;
    }
    90% {
      transform: translateY(-540px);
      will-change: transform;
    }
    100% {
      transform: translateY(-600px);
      will-change: transform;
    }
  }
  @keyframes count3 {
    100% {
      transform: translateY(-60px);
      will-change: transform;
    }
  }
  @keyframes count3_2 {
    0% {
      transform: translateY(-60px);
      will-change: transform;
    }
    100% {
      transform: translateY(-120px);
      will-change: transform;
    }
  }
  @keyframes count3_last {
    0% {
      transform: translateY(-120px);
      will-change: transform;
    }
    100% {
      transform: translateY(-180px);
      will-change: transform;
    }
  }
  @keyframes hanbom {
    100% {
      transform: translateY(-60px);
      will-change: transform;
    }
  }
  @keyframes hanbom_last {
    0% {
      transform: translateY(-60px);
      will-change: transform;
    }
    100% {
      transform: translateY(-120px);
      will-change: transform;
    }
  }
}
@media all and (max-width: 768px) {
  @keyframes count1 {
    100% {
      transform: translateY(calc(-11.2vw * 10));
      will-change: transform;
    }
  }
  @keyframes count1_2 {
    100% {
      transform: translateY(calc(-11.2vw * 10));
      will-change: transform;
    }
  }
  @keyframes count1_3 {
    0% {
      transform: translateY(calc(-11.2vw * 10));
      will-change: transform;
    }
    100% {
      transform: translateY(calc(-11.2vw * 11));
      will-change: transform;
    }
  }

  @keyframes count1_last {
    0% {
      transform: translateY(calc(-11.2vw * 11));
      will-change: transform;
    }
    100% {
      transform: translateY(calc(-11.2vw * 12));
      will-change: transform;
    }
  }
  @keyframes count2 {
    10% {
      transform: translateY(-11.2vw);
      will-change: transform;
    }
    20% {
      transform: translateY(calc(-11.2vw * 2));
      will-change: transform;
    }
    30% {
      transform: translateY(calc(-11.2vw * 3));
      will-change: transform;
    }
    40% {
      transform: translateY(calc(-11.2vw * 4));
      will-change: transform;
    }
    50% {
      transform: translateY(calc(-11.2vw * 5));
      will-change: transform;
    }
    60% {
      transform: translateY(calc(-11.2vw * 6));
      will-change: transform;
    }
    70% {
      transform: translateY(calc(-11.2vw * 7));
      will-change: transform;
    }
    80% {
      transform: translateY(calc(-11.2vw * 8));
      will-change: transform;
    }
    90% {
      transform: translateY(calc(-11.2vw * 9));
      will-change: transform;
    }
    100% {
      transform: translateY(calc(-11.2vw * 10));
      will-change: transform;
    }
  }
  @keyframes count3 {
    100% {
      transform: translateY(-11.2vw);
      will-change: transform;
    }
  }
  @keyframes count3_2 {
    0% {
      transform: translateY(-11.2vw);
      will-change: transform;
    }
    100% {
      transform: translateY(calc(-11.2vw * 2));
      will-change: transform;
    }
  }
  @keyframes count3_last {
    0% {
      transform: translateY(calc(-11.2vw * 2));
      will-change: transform;
    }
    100% {
      transform: translateY(calc(-11.2vw * 3));
      will-change: transform;
    }
  }
  @keyframes hanbom {
    100% {
      transform: translateY(-11.2vw);
      will-change: transform;
    }
  }
  @keyframes hanbom_last {
    0% {
      transform: translateY(-11.2vw);
      will-change: transform;
    }
    100% {
      transform: translateY(calc(-11.2vw * 2));
      will-change: transform;
    }
  }
}

/* scrollbar */
.scrollbar-track {
  z-index: 101 !important;
}
.scrollbar-thumb {
  background: var(--skyblue) !important;
}
@media all and (max-width: 768px) {
  .scrollbar-track.show,
  .scrollbar-track:hover {
    opacity: 0 !important;
  }
}
