.inner {
  width: min(1400px, calc(100% - 1.5rem));
  margin: 0 auto;
}
.inner.mw-1600 {
  width: min(1600px, calc(100% - 1.5rem));
}
.inner.mw-1800 {
  width: min(1800px, calc(100% - 1.5rem));
}
/*
	skip-nav
*/
.skip-nav {
  position: relative;
  z-index: -2;
}
.skip-nav a {
  position: absolute;
  top: -100vw;
  left: 0;
  width: 50%;
  height: 2rem;
  background: #333;
  color: #fff;
  text-align: center;
}
.skip-nav a:active,
.skip-nav a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

@media all and (min-width: 769px) and (max-width: 960px) {
  #content {
    padding-top: 175px;
  }
}
@media all and (max-width: 768px) {
  #content {
    padding-top: 130px;
  }
}

/* header */

.header {
  height: min(13vw, 108px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s, transform 0.8s;
  color: #fff;
  background-color: transparent;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid #fff2;
}
.header * {
  color: inherit;
}

.header.fix {
  top: calc(min(13vw, 108px) * -1);
}

.header .inner {
  position: relative;
  width: min(1800px, calc(100% - 1.5px));
  height: min(13vw, 108px);
  overflow: hidden;
  transition: all 0.5s;
  z-index: 100;
}

.header .inner:before {
  content: "";
  position: absolute;
  top: 6px;
  width: 100%;
  height: calc(100% - 6px);
  opacity: 0;
  display: block;
  pointer-events: none;
}

.header .logo_area .logo a {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.header.active {
  transform: translateY(-100%);
}
header .menu_open {
  display: none;
  transition: 0.3s;
}
.gnb ul {
  display: flex;
  justify-content: space-between;
}
.gnb ul li {
  margin-left: 70px;
}

.gnb ul li a {
  display: block;
}
/* gnb 호버 효과 */
.gnb ul li a .char {
  display: inline-block;
  position: relative;
  /* color: transparent; */
  overflow: hidden;
}
.gnb ul li a .char:before,
.gnb ul li a .char:after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  content: attr(data-char);
  transition: transform 0.35s;
  transition-delay: calc(30ms * var(--char-index));
}

.gnb ul li a .char:before {
  transform: translateY(100%);
}

.gnb ul li a:hover .char:before {
  transform: translateY(0%);
  opacity: 1;
}

.gnb ul li a:hover .char:after {
  transform: translateY(-100%);
}

/* footer */
footer {
  padding: 2rem 0 4rem;
  color: #fff8;
  font-size: clamp(0.9rem, 3vw, 0.8rem);
  border-top: 1px solid #fff5;
}
footer > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .my_info {
  width: 100%;
  font-size: clamp(0.9rem, 3vw, 0.8rem);
}
footer .my_info li:not(.copy_right) {
  font-size: clamp(0.6rem, 2.5vw, 0.7rem);
}

/* popup */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
  overflow-y: auto;
  z-index: 99;
}
.popup {
  position: relative;
  width: 80%;
  max-width: 600px;
  height: 80%;
  max-height: 580px;
  background-color: #fff;
  margin: 0 auto;
}
.popup-header {
  display: block;
  padding: 0.4rem 0.725rem;
  border-bottom: 1px solid #ddd;
}
.popup-body {
  height: calc(100% - 3.7rem - 1px);
  overflow: hidden auto;
  padding: 1rem 0.725rem;
}
.popup .btn-close {
  position: absolute;
  top: 0.725rem;
  right: 0.725rem;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #fff;
}
/* .btn.open-pop {z-index: 11;} */
