.inner {
  width: min(1400px, calc(100% - 3rem));
  margin: 0 auto;
}
.inner.mw-1600 {
  width: min(1600px, calc(100% - 3rem));
}
.inner.mw-1800 {
  width: min(1800px, calc(100% - 3rem));
}
/*
	skip-nav
*/
.skip-nav {
  position: relative;
  z-index: -2;
}
.skip-nav a {
  position: absolute;
  top: -100vw;
  left: 0;
  width: 50%;
  height: 2rem;
  background: #333;
  color: #fff;
  text-align: center;
}
.skip-nav a:active,
.skip-nav a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}
/* header */

#header {
  height: min(5rem, 100px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s, transform 0.8s;
  color: #fff;
  background-color: transparent;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid #fff2;
}
#header.white {
  background-color: #fff;
  color: #111;
  border-color: #eee;
}
#header .logo img {
  width: 50px;
  filter: saturate(70%) brightness(160%)
    drop-shadow(0px 0px 14px rgba(255, 255, 255, 0.8));
}
#header .gnb,
#header .logo {
  color: inherit;
}

#header.fix {
  top: calc(min(5rem, 100px) * -1);
}

#header .inner {
  position: relative;
  height: min(5rem, 100px);
  /* overflow: hidden; */
}

#header .logo {
  font-weight: 400;
  position: relative;
}
#header .logo a {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
#header .logo a span {
  font-weight: 800;
}
#header.active {
  transform: translateY(-100%);
}
#header .menu_open {
  display: none;
  transition: 0.3s;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#header .menu_open span {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#header .menu_open::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -0.3rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
}
#header .menu_open::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: 0.3rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
}

#header .gnb ul {
  display: flex;
  justify-content: space-between;
  gap: 0 3.5rem;
}
#header .gnb ul li a {
  display: block;
}
/* gnb 호버 효과 */
#header .gnb ul li a .char {
  display: inline-block;
  position: relative;
  color: transparent;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 500;
}
#header .gnb ul li a .word {
  line-height: 1;
  overflow: hidden;
}
#header .gnb ul li a .char:before,
#header .gnb ul li a .char:after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  color: #fff;
  content: attr(data-char);
  transition: transform 0.35s;
  transition-delay: calc(30ms * var(--char-index));
}
#header.white .gnb ul li a .char:before,
#header.white .gnb ul li a .char:after {
  color: #111;
}

#header .gnb ul li a .char:before {
  transform: translateY(100%);
}

#header .gnb ul li a:hover .char:before {
  transform: translateY(0%);
  opacity: 1;
}

#header .gnb ul li a:hover .char:after {
  transform: translateY(-100%);
}

/* footer */
footer {
  padding: 2rem 0 4rem;
  font-size: clamp(0.9rem, 3vw, 0.8rem);
  border-top: 1px solid #fff8;
  background-color: #000e35;
  color: #fff;
}
footer > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .my_info {
  width: 100%;
  font-size: clamp(0.9rem, 3vw, 0.8rem);
}
footer .my_info li:not(.copy_right) {
  font-size: clamp(0.9rem, 2.5vw, 0.7rem);
}

@media screen and (max-width: 768px) {
  #header .menu_open {
    display: block;
  }
  #header .gnb {
    height: 100vh;
    overflow: hidden;
    transform-origin: top center;
    background-color: #000e35;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
    opacity: 0;
    display: none;
  }
  #header.white .menu_open::before,
  #header.white .menu_open::after {
    background-color: #111;
  }
  .gnbOpen #header.white .menu_open::before,
  .gnbOpen #header.white .menu_open::after {
    background-color: #fff;
  }
  .gnbOpen #header.white {
    color: #fff;
  }

  #header .gnb ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5vh 0;
    font-size: 2rem;
  }
  .gnb ul li {
    margin-left: 0;
  }
  body.gnbOpen #header .logo,
  body.gnbOpen #header .menu_open {
    z-index: 90;
  }
  #header .gnb ul li a .char {
    padding: 0 0.2rem;
  }
  body.gnbOpen #header .gnb ul li a .char:before,
  body.gnbOpen #header .gnb ul li a .char:after,
  body.gnbOpen #header.white .gnb ul li a .char:before,
  body.gnbOpen #header.white .gnb ul li a .char:after {
    color: #fff;
    opacity: 1;
    font-weight: 600;
  }
  body.gnbOpen #header .menu_open::after {
    transform: rotate(45deg);
    margin-top: 0;
  }
  body.gnbOpen #header .menu_open::before {
    margin-top: 0;
    transform: rotate(-45deg);
  }
  body.gnbOpen #header .gnb {
    opacity: 1;
    display: block;
  }
}
